.task__button {
    color: white;
    background-color: crimson;
    width: 30px;
    height: 30px;
    padding: 2px;
    border: none;
    margin: 0;
}

.task__button:focus {
    outline: solid 1px #000;
}

.task__button--done {
    background-color: green;
}

.taskContent {
    margin: 10px;
}

.taskContent--done {
    text-decoration: line-through;
}

.tasksList {
    display: grid;
    grid-template-columns: auto 1fr auto;
    margin: 10px;
    border-bottom: solid 1px #f0f0f0;
    align-items: center;
}